@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
	font-family: 'Cormorant Infant', serif;
	font-style: italic;
	font-weight: 300;
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 5vw;
	padding-right: 5vw;
	background-color: #2B1922;
	color: white;
}
header {
	position: relative;
	z-index: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: clamp(10rem, 20	vh, 50rem);
	padding-bottom: 2rem;
	transition: opacity 0.4s ease-out;
}
.envelope-scene.letter-open header {
	opacity: 0;
	pointer-events: none;
}
header img {
	width: 25rem;
	height: auto;
	object-fit: cover;
}
h1 {
	font-size: 3rem;
	line-height: 4rem;
	color: white;
	margin: 0;
}
/* envelop */
.envelope-scene {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	position: relative;
	z-index: 1;
	width: clamp(20rem, 80vw, 40rem);
	aspect-ratio: 1 / 0.566;
	overflow: visible;
}
.envelope-stack {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.envelope-stack img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.envelope-overlay {
  z-index: 3;
  pointer-events: none;
  display: none;
}
.envelope.open ~ .envelope-overlay {
  display: block;
}
.envelope {
  z-index: 0;
  cursor: pointer;
}
.envelope.open {
	cursor: default;
}
/* Paper Styling */
.letter-clip {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 32rem;
	overflow: hidden;
	pointer-events: none;
}
.letter-clip.open {
	pointer-events: auto;
}
.letter {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 30%);
  visibility: hidden;
  width: 70%;
	height: 100%;
  background-image: url('images/letter-texture.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;	
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  transition: transform 0.4s ease-out;
	color: #5F0E2E;
	font-family: 'Roboto Mono', monospace;
	font-weight: 300;
	font-style: normal;
}
.envelope-scene.letter-open .letter {
  visibility: visible;
}
.letter.open {
	transform: translate(-50%, 0%);
}
.letter.closing {
	transform: translate(-50%, 30%);
}
/* Email form Temporary styling */
.letter h3{
	margin: 0;
	font-size: 1.7rem;
	line-height: 1.7rem;
	text-transform: uppercase;
}

.email-form {
  position: relative;
  z-index: 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.email-form input,
.email-form button {
	font-family: 'Roboto Mono', monospace;
	padding: 0.3rem 1rem;
	font-size: 1rem;
	border-radius: 0;
}

.email-form input {
	outline: none;
	border: none;
	background: #A4738830;
}
.email-form input::placeholder {
	color: #876C77;
	text-transform: uppercase;
}
.email-form button {
	background: #5F0E2E;
	color: white;
	border: none;
	cursor: pointer;
	width: 7rem;
	text-transform: uppercase;
}
/* footer */
.footer {
	color: #FFDDED;
	margin-top: 2rem;
	font-size: 1.3rem;
}